In [344]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [345]:
df=pd.read_csv('/content/train.csv',index_col=0)

In [346]:
df_original=df.copy()
df_original=df_original.drop_duplicates()

In [347]:
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

# Reading information about data

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   object
 2   Ship Date      9800 non-null   object
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9800 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9789 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [349]:
df.shape

(9800, 17)

In [350]:
df.describe()

        Postal Code         Sales
count   9789.000000   9800.000000
mean   55273.322403    230.769059
std    32041.223413    626.651875
min     1040.000000      0.444000
25%    23223.000000     17.248000
50%    58103.000000     54.490000
75%    90008.000000    210.605000
max    99301.000000  22638.480000

In [351]:
df.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [352]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

Checking if any duplicates are found.

In [353]:
df.duplicated().value_counts()

False    9799
True        1
dtype: int64

One duplicate is found and we have to remove it.

In [354]:
df=df.drop_duplicates()

In [355]:
df.shape

(9799, 17)

In [356]:
df.rename(columns=str.lower,inplace=True) #Converting all column names into lower case for easy use.

<ipython-input-356-6b0117c71310>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=str.lower,inplace=True) #Converting all column names into lower case for easy use.

In [357]:
df.columns

Index(['order id', 'order date', 'ship date', 'ship mode', 'customer id',
       'customer name', 'segment', 'country', 'city', 'state', 'postal code',
       'region', 'product id', 'category', 'sub-category', 'product name',
       'sales'],
      dtype='object')

# Procesing each column individually.

### order id

Contains unique id's of order.

In [358]:
df['order id']

Row ID
1       CA-2017-152156
2       CA-2017-152156
3       CA-2017-138688
4       US-2016-108966
5       US-2016-108966
             ...
9796    CA-2017-125920
9797    CA-2016-128608
9798    CA-2016-128608
9799    CA-2016-128608
9800    CA-2016-128608
Name: order id, Length: 9799, dtype: object

In [359]:
df['order id'].isna().sum()

0

In [360]:
df['order id'].dtype

dtype('O')

In [361]:
df['order id'].value_counts()

CA-2018-100111    14
CA-2018-157987    12
US-2017-108504    11
CA-2017-165330    11
CA-2016-131338    10
                  ..
US-2016-110261     1
CA-2016-125710     1
US-2016-137960     1
CA-2016-124975     1
CA-2016-142202     1
Name: order id, Length: 4922, dtype: int64

### order date

Contains orderd date of the order.

In [362]:
df['order date']=df_original['Order Date'].copy()

<ipython-input-362-4938eac9a202>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order date']=df_original['Order Date'].copy()

In [363]:
df['order date']

Row ID
1       08/11/2017
2       08/11/2017
3       12/06/2017
4       11/10/2016
5       11/10/2016
           ...
9796    21/05/2017
9797    12/01/2016
9798    12/01/2016
9799    12/01/2016
9800    12/01/2016
Name: order date, Length: 9799, dtype: object

In [364]:
df['order date'].isna().sum()

0

In [365]:
df['order date'].dtype

dtype('O')

Changing into timedate format.

In [366]:
df['order date']=pd.to_datetime(df['order date'])

<ipython-input-366-6cbac3387dca>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['order date']=pd.to_datetime(df['order date'])
<ipython-input-366-6cbac3387dca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order date']=pd.to_datetime(df['order date'])

In [367]:
df['order date']

Row ID
1      2017-08-11
2      2017-08-11
3      2017-12-06
4      2016-11-10
5      2016-11-10
          ...
9796   2017-05-21
9797   2016-12-01
9798   2016-12-01
9799   2016-12-01
9800   2016-12-01
Name: order date, Length: 9799, dtype: datetime64[ns]

In [368]:
df['order date'].value_counts()

2017-05-09    38
2017-10-11    35
2018-02-12    34
2018-01-12    34
2018-02-09    33
              ..
2017-02-25     1
2017-10-25     1
2015-02-21     1
2015-11-09     1
2016-09-05     1
Name: order date, Length: 1230, dtype: int64

### ship date

Contains shipped date of order.

In [369]:
df['ship date']=df_original['Ship Date'].copy()

<ipython-input-369-f99797e2b90d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ship date']=df_original['Ship Date'].copy()

Contains informaiton about order date.

In [370]:
df['ship date']

Row ID
1       11/11/2017
2       11/11/2017
3       16/06/2017
4       18/10/2016
5       18/10/2016
           ...
9796    28/05/2017
9797    17/01/2016
9798    17/01/2016
9799    17/01/2016
9800    17/01/2016
Name: ship date, Length: 9799, dtype: object

In [371]:
df['ship date'].isna().sum()

0

In [372]:
df['ship date'].dtype

dtype('O')

Changing into timedate format.

In [373]:
df['ship date']=pd.to_datetime(df['ship date'])

<ipython-input-373-61c0eb37cc32>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['ship date']=pd.to_datetime(df['ship date'])
<ipython-input-373-61c0eb37cc32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ship date']=pd.to_datetime(df['ship date'])

In [374]:
df['ship date']

Row ID
1      2017-11-11
2      2017-11-11
3      2017-06-16
4      2016-10-18
5      2016-10-18
          ...
9796   2017-05-28
9797   2016-01-17
9798   2016-01-17
9799   2016-01-17
9800   2016-01-17
Name: ship date, Length: 9799, dtype: datetime64[ns]

In [375]:
df['ship date'].value_counts()

2018-09-26    34
2018-06-12    32
2016-12-16    31
2018-11-21    30
2018-12-12    30
              ..
2018-11-06     1
2016-09-13     1
2015-04-03     1
2017-07-08     1
2016-05-13     1
Name: ship date, Length: 1326, dtype: int64

### ship mode

Contains inforamtion about ship mode.

In [376]:
df['ship mode']=df_original['Ship Mode'].copy()

<ipython-input-376-4fe728b64cc8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ship mode']=df_original['Ship Mode'].copy()

In [377]:
df['ship mode']

Row ID
1         Second Class
2         Second Class
3         Second Class
4       Standard Class
5       Standard Class
             ...
9796    Standard Class
9797    Standard Class
9798    Standard Class
9799    Standard Class
9800    Standard Class
Name: ship mode, Length: 9799, dtype: object

In [378]:
df['ship mode'].isna().sum()

0

In [379]:
df['ship mode'].dtype

dtype('O')

In [380]:
df['ship mode']

Row ID
1         Second Class
2         Second Class
3         Second Class
4       Standard Class
5       Standard Class
             ...
9796    Standard Class
9797    Standard Class
9798    Standard Class
9799    Standard Class
9800    Standard Class
Name: ship mode, Length: 9799, dtype: object

In [381]:
df['ship mode'].value_counts()

Standard Class    5858
Second Class      1902
First Class       1501
Same Day           538
Name: ship mode, dtype: int64

### customer id

Contains unique customer id.

In [382]:
df['customer id']=df_original['Customer ID'].copy()

<ipython-input-382-e1e4d45bd408>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer id']=df_original['Customer ID'].copy()

In [383]:
df['customer id']

Row ID
1       CG-12520
2       CG-12520
3       DV-13045
4       SO-20335
5       SO-20335
          ...
9796    SH-19975
9797    CS-12490
9798    CS-12490
9799    CS-12490
9800    CS-12490
Name: customer id, Length: 9799, dtype: object

In [384]:
df['customer id'].isna().sum()

0

In [385]:
df['customer id'].dtype

dtype('O')

In [386]:
df['customer id']

Row ID
1       CG-12520
2       CG-12520
3       DV-13045
4       SO-20335
5       SO-20335
          ...
9796    SH-19975
9797    CS-12490
9798    CS-12490
9799    CS-12490
9800    CS-12490
Name: customer id, Length: 9799, dtype: object

In [387]:
df['customer id'].value_counts()

WB-21850    35
MA-17560    34
PP-18955    34
JL-15835    33
CK-12205    32
            ..
JR-15700     1
CJ-11875     1
SC-20845     1
RE-19405     1
AO-10810     1
Name: customer id, Length: 793, dtype: int64

### customer name

Contains name of the customer.

In [388]:
df['customer name']=df_original['Customer Name'].copy()

<ipython-input-388-0593b90ff05e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer name']=df_original['Customer Name'].copy()

In [389]:
df['customer name']

Row ID
1            Claire Gute
2            Claire Gute
3        Darrin Van Huff
4         Sean O'Donnell
5         Sean O'Donnell
              ...
9796       Sally Hughsby
9797    Cindy Schnelling
9798    Cindy Schnelling
9799    Cindy Schnelling
9800    Cindy Schnelling
Name: customer name, Length: 9799, dtype: object

In [390]:
df['customer name'].isna().sum()

0

In [391]:
df['customer name'].dtype

dtype('O')

In [392]:
df['customer name']

Row ID
1            Claire Gute
2            Claire Gute
3        Darrin Van Huff
4         Sean O'Donnell
5         Sean O'Donnell
              ...
9796       Sally Hughsby
9797    Cindy Schnelling
9798    Cindy Schnelling
9799    Cindy Schnelling
9800    Cindy Schnelling
Name: customer name, Length: 9799, dtype: object

In [393]:
df['customer name'].value_counts()

William Brown          35
Matt Abelman           34
Paul Prost             34
John Lee               33
Chloris Kastensmidt    32
                       ..
Jocasta Rupert          1
Carl Jackson            1
Sung Chung              1
Ricardo Emerson         1
Anthony O'Donnell       1
Name: customer name, Length: 793, dtype: int64

### segment

Contains information about segment.

In [394]:
df['segment']=df_original['Segment'].copy()

<ipython-input-394-3c83c9cfefee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['segment']=df_original['Segment'].copy()

In [395]:
df['segment']

Row ID
1        Consumer
2        Consumer
3       Corporate
4        Consumer
5        Consumer
          ...
9796    Corporate
9797    Corporate
9798    Corporate
9799    Corporate
9800    Corporate
Name: segment, Length: 9799, dtype: object

In [396]:
df['segment'].isna().sum()

0

In [397]:
df['segment'].dtype

dtype('O')

In [398]:
df['segment']

Row ID
1        Consumer
2        Consumer
3       Corporate
4        Consumer
5        Consumer
          ...
9796    Corporate
9797    Corporate
9798    Corporate
9799    Corporate
9800    Corporate
Name: segment, Length: 9799, dtype: object

In [399]:
df['segment'].value_counts()

Consumer       5101
Corporate      2953
Home Office    1745
Name: segment, dtype: int64

### country

Contains information about country.

In [400]:
df['country']=df_original['Country'].copy()

<ipython-input-400-10a77251d16b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country']=df_original['Country'].copy()

In [401]:
df['country']

Row ID
1       United States
2       United States
3       United States
4       United States
5       United States
            ...
9796    United States
9797    United States
9798    United States
9799    United States
9800    United States
Name: country, Length: 9799, dtype: object

In [402]:
df['country'].isna().sum()

0

In [403]:
df['country'].dtype

dtype('O')

In [404]:
df['country']

Row ID
1       United States
2       United States
3       United States
4       United States
5       United States
            ...
9796    United States
9797    United States
9798    United States
9799    United States
9800    United States
Name: country, Length: 9799, dtype: object

In [405]:
df['country'].value_counts()

United States    9799
Name: country, dtype: int64

### city

Contains information about city.

In [406]:
df['city']=df_original['City'].copy()

<ipython-input-406-94be4402e0f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city']=df_original['City'].copy()

In [407]:
df['city']

Row ID
1             Henderson
2             Henderson
3           Los Angeles
4       Fort Lauderdale
5       Fort Lauderdale
             ...
9796            Chicago
9797             Toledo
9798             Toledo
9799             Toledo
9800             Toledo
Name: city, Length: 9799, dtype: object

In [408]:
df['city'].isna().sum()

0

In [409]:
df['city'].dtype

dtype('O')

In [410]:
df['country'].value_counts()

United States    9799
Name: country, dtype: int64

### state

Contains information about state.

In [411]:
df['state']=df_original['State'].copy()

<ipython-input-411-431390327070>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state']=df_original['State'].copy()

In [412]:
df['state']

Row ID
1         Kentucky
2         Kentucky
3       California
4          Florida
5          Florida
           ...
9796      Illinois
9797          Ohio
9798          Ohio
9799          Ohio
9800          Ohio
Name: state, Length: 9799, dtype: object

In [413]:
df['state'].isna().sum()

0

In [414]:
df['state'].dtype

dtype('O')

In [415]:
df['state'].value_counts()

California              1946
New York                1097
Texas                    973
Pennsylvania             582
Washington               504
Illinois                 483
Ohio                     453
Florida                  373
Michigan                 253
North Carolina           247
Virginia                 224
Arizona                  223
Tennessee                183
Colorado                 179
Georgia                  177
Kentucky                 137
Indiana                  135
Massachusetts            135
Oregon                   122
New Jersey               122
Maryland                 105
Wisconsin                105
Delaware                  93
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              55
Mississippi               53
Utah                      53
South Carolina            42
Louisiana                 41
Nevada                    39
Nebraska                  38
New Mexico                37
New Hampshire             27
Iowa                      26
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: state, dtype: int64

### postal code

Contains information about postal code.

In [416]:
df['postal code']=df_original['Postal Code'].copy()

<ipython-input-416-405d339d3ea9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postal code']=df_original['Postal Code'].copy()

In [417]:
df['postal code']

Row ID
1       42420.0
2       42420.0
3       90036.0
4       33311.0
5       33311.0
         ...
9796    60610.0
9797    43615.0
9798    43615.0
9799    43615.0
9800    43615.0
Name: postal code, Length: 9799, dtype: float64

In [418]:
df['postal code'].isnull().sum()

11

Since we dont have any idea about postal code of Vermont	state we should fill it with 0.

In [419]:
df[df['postal code'].isnull()]

,order id,order date,ship date,ship mode,customer id,customer name,segment,country,city,state,postal code,region,product id,category,sub-category,product name,sales
Row ID,,,,,,,,,,,,,,,,,
2235,CA-2018-104066,2018-05-12,2018-10-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03
5275,CA-2016-162887,2016-07-11,2016-09-11,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,Vermont,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20
8799,US-2017-150140,2017-06-04,2017-10-04,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,Vermont,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75
9147,US-2017-165505,2017-01-23,2017-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98
9148,US-2017-165505,2017-01-23,2017-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04
9149,US-2017-165505,2017-01-23,2017-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29
9387,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92
9388,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28
9389,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94
9390,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04
9742,CA-2016-117086,2016-08-11,2016-12-11,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90

In [420]:
df['postal code']=df['postal code'].fillna(0)

<ipython-input-420-567edba8d987>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postal code']=df['postal code'].fillna(0)

In [421]:
df['postal code'].isnull().sum()

0

In [422]:
df['postal code'].dtype

dtype('float64')

Converting data type to integer.

In [423]:
df['postal code']=df['postal code'].astype(int)

<ipython-input-423-4ac40cf27a7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postal code']=df['postal code'].astype(int)

In [424]:
df['postal code'].dtype

dtype('int64')

In [425]:
df['postal code'].value_counts()

10035    253
10024    225
10009    220
94122    195
10011    193
        ...
32935      1
76248      1
32127      1
32503      1
72762      1
Name: postal code, Length: 627, dtype: int64

### region

Contains information about region.

In [426]:
df['region']=df_original['Region'].copy()

<ipython-input-426-4a09a06f8df9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['region']=df_original['Region'].copy()

In [427]:
df['region']

Row ID
1         South
2         South
3          West
4         South
5         South
         ...
9796    Central
9797       East
9798       East
9799       East
9800       East
Name: region, Length: 9799, dtype: object

In [428]:
df['region'].isna().sum()

0

In [429]:
df['region'].dtype

dtype('O')

In [430]:
df['region'].value_counts()

West       3140
East       2784
Central    2277
South      1598
Name: region, dtype: int64

### product id

Contains information about product id.

In [431]:
df['product id']=df_original['Product ID'].copy()

<ipython-input-431-75f6637b0662>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['product id']=df_original['Product ID'].copy()

In [432]:
df['product id']

Row ID
1       FUR-BO-10001798
2       FUR-CH-10000454
3       OFF-LA-10000240
4       FUR-TA-10000577
5       OFF-ST-10000760
             ...
9796    OFF-BI-10003429
9797    OFF-AR-10001374
9798    TEC-PH-10004977
9799    TEC-PH-10000912
9800    TEC-AC-10000487
Name: product id, Length: 9799, dtype: object

In [433]:
df['product id'].isna().sum()

0

In [434]:
df['product id'].dtype

dtype('O')

In [435]:
df['product id'].value_counts()

OFF-PA-10001970    19
TEC-AC-10003832    18
FUR-FU-10004270    16
TEC-AC-10002049    15
TEC-AC-10003628    15
                   ..
OFF-PA-10000919     1
TEC-MA-10003353     1
OFF-LA-10003388     1
OFF-EN-10004206     1
TEC-PH-10002645     1
Name: product id, Length: 1861, dtype: int64

### category

Contains information about category.

In [436]:
df['category']=df_original['Category'].copy()

<ipython-input-436-c23a872f9e4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category']=df_original['Category'].copy()

In [437]:
df['category']

Row ID
1             Furniture
2             Furniture
3       Office Supplies
4             Furniture
5       Office Supplies
             ...
9796    Office Supplies
9797    Office Supplies
9798         Technology
9799         Technology
9800         Technology
Name: category, Length: 9799, dtype: object

In [438]:
df['category'].isna().sum()

0

In [439]:
df['category'].dtype

dtype('O')

In [440]:
df['category'].value_counts()

Office Supplies    5909
Furniture          2077
Technology         1813
Name: category, dtype: int64

### sub-category

Contains information about sub-category.

In [441]:
df['sub-category']=df_original['Sub-Category'].copy()

<ipython-input-441-c6429f0b285a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sub-category']=df_original['Sub-Category'].copy()

In [442]:
df['sub-category']

Row ID
1         Bookcases
2            Chairs
3            Labels
4            Tables
5           Storage
           ...
9796        Binders
9797            Art
9798         Phones
9799         Phones
9800    Accessories
Name: sub-category, Length: 9799, dtype: object

In [443]:
df['sub-category'].isna().sum()

0

In [444]:
df['sub-category'].dtype

dtype('O')

In [445]:
df['sub-category'].value_counts()

Binders        1492
Paper          1338
Furnishings     931
Phones          876
Storage         832
Art             785
Accessories     756
Chairs          606
Appliances      459
Labels          357
Tables          314
Envelopes       248
Bookcases       226
Fasteners       214
Supplies        184
Machines        115
Copiers          66
Name: sub-category, dtype: int64

### product name

Contains information about product name.

In [446]:
df['product name']=df_original['Product Name'].copy()

<ipython-input-446-1adad26f8de1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['product name']=df_original['Product Name'].copy()

In [447]:
df['product name']

Row ID
1                       Bush Somerset Collection Bookcase
2       Hon Deluxe Fabric Upholstered Stacking Chairs,...
3       Self-Adhesive Address Labels for Typewriters b...
4           Bretford CR4500 Series Slim Rectangular Table
5                          Eldon Fold 'N Roll Cart System
                              ...
9796    Cardinal HOLDit! Binder Insert Strips,Extra St...
9797             BIC Brite Liner Highlighters, Chisel Tip
9798                                          GE 30524EE4
9799             Anker 24W Portable Micro USB Car Charger
9800                  SanDisk Cruzer 4 GB USB Flash Drive
Name: product name, Length: 9799, dtype: object

In [448]:
df['product name'].isna().sum()

0

In [449]:
df['product name'].dtype

dtype('O')

In [450]:
df['product name'].value_counts()

Staple envelope                                                        47
Staples                                                                46
Easy-staple paper                                                      44
Avery Non-Stick Binders                                                20
Staples in misc. colors                                                18
                                                                       ..
Xiaomi Mi3                                                              1
Universal Ultra Bright White Copier/Laser Paper, 8 1/2" x 11", Ream     1
Socket Bluetooth Cordless Hand Scanner (CHS)                            1
Logitech Illuminated Ultrathin Keyboard with Backlighting               1
LG G2                                                                   1
Name: product name, Length: 1849, dtype: int64

### sales

Contains information about sales.

In [343]:
df['sales']=df_original['Sales'].copy()

<ipython-input-343-4942538c7b28>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sales']=df_original['Sales'].copy()

In [457]:
df['sales']

Row ID
1       261.9600
2       731.9400
3        14.6200
4       957.5775
5        22.3680
          ...
9796      3.7980
9797     10.3680
9798    235.1880
9799     26.3760
9800     10.3840
Name: sales, Length: 9799, dtype: float64

In [458]:
df['sales'].isna().sum()

0

In [459]:
df['sales'].dtype

dtype('float64')

In [462]:
df['sales'].value_counts()

12.960     55
15.552     39
19.440     39
10.368     35
25.920     34
           ..
220.064     1
339.136     1
60.048      1
5.022       1
10.384      1
Name: sales, Length: 5757, dtype: int64